/* shared css */

* {
    font-family: 'Work Sans';
    margin: 0;
}

body {
    width: 1920px;
    ;
    background-color: #FFF;
    ;
}

.title {
    color: #0B0223;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.description {
    color: #534C64;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    width: 450px;

}

.color-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;

}


/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;



}

nav a {
    text-decoration: none;
    color: #3C354F;
}

nav li {
    list-style: none;
    color: ;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

}

#background {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: red;
}

.nav-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;

}

.gamer {
    color: var(--primary-color);

}


/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;

}

.banner-sub-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    height: 0px;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 6.0rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 25%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 105px;

}

.banner-des {
    color: #534C64;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.pri-btn {
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
}

.sec-btn {
    background-color: var(--secondary-color);
    color: var(--third-color);
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
}


/* fun video section */
.fun-video {
    margin: 50px 0;
    padding: 50px 250px;
}

.fun-video-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.fun-video-cart {
    display: flex;
    gap: 25px;


}

.cart {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;

}

#cart-1 {
    background: url(images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
}

#cart-2 {
    background: url(images/Rectangle\ 5.png);
}

#cart-3 {
    background: url(images/Rectangle\ 7.png);
}

.overlay {
    position: absolute;
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;

}

.cart:hover>.overlay {
    background-color: rgba(0, 0, 0, 0.329);
    border: 1px solid red;

}

.icon {
    position: absolute;
    display: none;
    font-size: 50px;
    width: 342px;
    height: 400px;
    color: #FFF;
    transition: display 0.5s;
    background: linear-gradient(180deg, #ff0000 25%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart:hover>.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-4 {
    background: url(images/Rectangle\ 6.png);
}

/* play instantly part style */
.play {
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px 240px;
    margin-bottom:
}

.cartoon {
    position:relative;
    bottom: 300px;
    right: 150px;
}

/* game types part style */
.game-type{
    margin-top: 50px;
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding-top: 100px;
}


.game-type-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 250px;
}

.game-type-2 {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.game{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    

}
.game:hover{
    border:2px solid #F948B2;
    color: #F948B2;
}
.game-title{
    font-weight: bold;
    font-size:1.3em;
}

/* footer section style  */

.footer{
    height: 636px;
    background-color: #0B0223;
    padding: 50px 250px;
}
.footer-item-1{
    margin-top: 50px;
}
.footer-item-1>a{
    text-decoration: none;
    color: #FFF;
    margin-right: 50px;

}
.footer-item-2{
    margin-top: 50px;
}
.footer-item-2>a{
    text-decoration: none;
    color: #FFF;
    font-size: 45px;
    margin-right: 50px;
}
.footer-item-3{
    margin-top: 50px;
}
.footer-item-3>a{
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    margin-right: 50px;
    
}

/* responsive mobile style */
@media screen and (max-width:576px) 
{
    
    body {
        max-width: 376px;

    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 50px;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 10px 10px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
    }

    .banner-img-container {
        max-width: 300px;
        margin-bottom: 50px;
    }

    .banner-img img {
        width: 100%
    }

    nav li {
        margin
    }

    .banner-content {
        padding-left: 20px;
    }

    .banner-sub-title {
        font-size: 2.6em;
        margin-bottom: 40px;
        padding-right: 20px;
    }

    .banner-title {
        font-size: 5em;
        padding-left: 10px;
    }

    .banner-img-container {
        padding-left: 20px;
    }

    .pri-btn {
        padding: 21px 40px;
        font-size: 15px;
        margin-right: 10px;
    }

    .sec-btn {
        padding: 21px 40px;
        border-radius: 48px;
        font-size: 15px;
        font-weight: 600;
    }

    .fun-video-cart {
        flex-direction: column;
        padding: 5px 0;
        justify-content: flex-start;
        align-items: center;
    }

    .cart {
        width: 300px;
        height: 350px;
    }

    .fun-video {
        margin-top: 50px;
        padding: 10px 20px;
    }

    .overlay {
        width: 300px;
        height: 350px;

    }
    .play{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
        padding: 0px 10px;
    }
    .play-image{
        margin-bottom: 50px;
        max-width:500px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 20px;
    }
    .play-image .cowboy{
        width: 70%;
        margin-left: 60px;

    }
    .cartoon{
        width: 40%;
        bottom: 110px;
        left: 10px;
        
        
    }
    .description{
        margin-top: 20px;
        padding: 0 10px;
        width: 400px;
        text-align: center;

    }
    .title{
        padding-left: 0px;
        text-align: center;
    }

    .game-container{
    }
    .game-type{
        padding-left: 0;
        height: 200px;
        padding-top: 50px;
    }
    .game-type-1{
        width: 250px;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0 10px;
    }
    .game-type-2{
        gap: 5px;
        padding: 10px 20px;
        display: none;
    }
    .game{
        width: 100px;
        height: 50px;
        gap: 5px;

    }
    .game>img{
        width:30px;
        height: 30px;
    }
    .game-title{
        font-size: .6em;
    }

    .footer{
        padding: 0 10px;
        padding-top: 20px;
    }
    .footer-item-1 a{
        margin-right: 5px;
    
    }
    .footer-item-2 a{
        font-size: 30px;
        margin-right: 30px;
    }
    .footer-item-3 a{
        margin-right: 5px;
    }



}



/* responsive tablet layout */
@media screen and (min-width:425px) and (max-width:768px) {}